
@import "tailwindcss";
@plugin "tailwindcss-animate";

.shadow-card {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.stats-card {
  @apply bg-white rounded-lg p-4 shadow-md transition-all duration-300 hover:shadow-lg border border-gray-100;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
